@import '../../../assets/scss/variables.scss';

.productsOnCart {
  
  table {
    font-family: $main-font;
    font-size: 20px;
    width: 100vw;
    
    th, td {
      text-align: center;
    }
    
    th {
      background: $lightGreen;
      border-radius: 5px 10px 5px 10px;
      border: none;
    }
    
    td {
      background-color: $lightGray;
      border-radius: 5px 0 5px 0;
    }
    
    td:last-child {
      background-color: white;
      
      button {
        width: 80px;
        height: 40px;
        margin: 8px 0;
      }
    }
  }
}

.cartTotal {
  // border: 1px solid;
  border-radius: 0 5px 10px 5px;
  display: inline-block;
  background-color: $lightGreen;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  
}

.addressBox {
  // border: 1px solid;
  font-family: $main-font;
  background-color: $lightGray;
  border-radius: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
  form {
    display: flex;
    flex-direction: column;
    
    input {
      border: 1px solid $darkGray
    }
  }
  
  h2 {
    margin: 10px 0;
  }
  
  button {
    cursor: pointer;
    align-self: flex-end;
    margin: 10px;
    margin-right: 34px;
    padding: 10px;
    border: none;
    border-radius: 5px 10px 5px 10px;
    background: #255923;
    color: white;
    font-family: $main-font;
    font-size: 15px;
    transition: 0.2s;
  }
}

@media (max-width: 600px) {
  .addressBox {
    width: 90vw; 
    
    input {
      width: 80vw;
    }
  }
}

.checkout-general {
  color: #193D17;
}

.checkout-container {
  padding: 15px;
  margin: 10px;
}

.span-total {
  font-size: 1.25rem;
  font-weight: bolder;
}

.products-title {
  font-size: 2.5rem;
}

.address-input {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-color: transparent;
  border-bottom-color: #255923;
  background-color: #ffffff;
  color:#F2BA52;
  font-weight: bolder;
  border-style: solid;
  border-radius: 0px;
  caret-color:#193D17;
}

.address-input:focus {
  outline:none;
}

.address-title  {
  font-size: 2rem;
}

.fa-1x {
  font-size: 1.25rem;
}

button:disabled {
  cursor: not-allowed;
  background:#193D1744;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.saleDone, .nothingOnCart {
  display: flex;
  justify-content: center;
  font-family: $main-font;
}

@media (max-width: 600px) {
  .productsOnCart {
    width: 105vw;
    margin: 0;
  
    table {
      font-size: 20px;
      width: 104vw;
      font-size: 4.75vw;
      
      th, td {
        text-align: center;
      }
      
      td:last-child {
        background-color: white;
        
        button {
          width: 40px;
          height: 40px;
          margin: 5px;
          background-color: $lightGreen;
          border-radius: 5px;
        }
      }
    }
  }
}
